name: Lint Code Base

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install and Run ESLint
        run: |
          npm install eslint@latest globals @eslint/js
          npx eslint content.js --config eslint.config.mjs