name: Lint Code Base

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install ESLint
        run: |
          npm install eslint@latest eslint-plugin-html@latest -g
          npm install eslint@latest --save-dev

      - name: Run ESLint Scan
        # Usamos npx para ejecutarlo directamente sobre el archivo
        run: npx eslint content.js --env browser --env webextensions --rule 'semi: [error, always]' --rule 'quotes: [error, double]'